
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TemplatePage.cshtml";
}

@using Customers.Model
@model CustomerMVCApp.Models.ViewModels.DisplayViewModel

<h1>Number of Students: @Model.Count</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Location</th>
            <th>Balance</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Customer customer in Model.Customers)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Name</td>
                <td>@customer.Location</td>
                <td>@customer.Balance</td>
                <td>@customer.Type</td>
                <td>@Html.ActionLink("Edit", "Edit", new {id = customer.Id }, new {@class = "btn btn-success" })
                @Html.ActionLink("Delete", "Delete", new {id = customer.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

